---
const { filialNameSrc = "capital" } = Astro.props;
const srcFilialCardImage = `/images/leones-${filialNameSrc}.webp`;
const { filialName = "Capital" } = Astro.props;
---

<a href="/{filial}" class="group block">
            <div class="w-[280px] h-[280px] p-20px relative overflow-hidden rounded-lg border-2 border-white/30 hover:border-white/50 transition-all duration-300">
              <img 
                src={srcFilialCardImage}
                alt=`Leones filial - ${filialName}`
                loading="lazy"
                class="w-full h-full md:h-full object-cover group-hover:scale-105 transition-transform duration-300"
              />
              <div class="absolute inset-0 bg-black/50 flex items-end p-3">
                <div class="text-white">
                  <div class="font-bold text-sm md:text-base">LEONES</div>
                  <div class="font-bold text-sm md:text-base uppercase">{filialName}</div>
                </div>
              </div>
            </div>
          </a>